doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title <%= projectName %>
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		script(data-main="/js/main", src="/js/lib/requirejs/require.js")
	body
		header
		.body
		footer &copy; 2013
